*, *::before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-primary{
    border-radius: 20px;
    background: var(--Call-to-Action);
    display: inline-flex;
    height: 72px;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    /* H5 - Work Sans */
    font-family: "Work Sans",sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    border: 2px solid transparent;
    transition: all 300ms linear;
}
.btn-primary:hover{
    border: 2px solid var(--Call-to-Action);
    background-color: transparent;
}
.btn-secondary{
    border-radius: 20px;
    background: var(--Call-to-Action);
    display: inline-flex;
    height: 60px;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    /* H5 - Work Sans */
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    border: 2px solid transparent;
    transition: all 300ms linear;
}
body{
    background: var(--Background);
}
.btn-secondary:hover{
    border: 2px solid var(--Call-to-Action);
  background-color: transparent;
}
.btn-tertiary{
    border-radius: 20px;
    background: var(--Call-to-Action);
    display: inline-flex;
    height: 46px;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    /* H5 - Work Sans */
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    border: 2px solid transparent;
    transition: all 300ms linear;
}
.btn-tertiary:hover{
    border: 2px solid var(--Call-to-Action);
    background-color: transparent;
}
.img-primary{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 20px;
    object-fit: cover;
    background: lightgray 50% / cover no-repeat;
}
.img-secondary{
    width: 100px;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 20px;
    background: lightgray 50% / cover no-repeat;
}
.btn-secondaryout{
    border-radius: 20px;
    border: 2px solid var(--Call-to-Action);
    background: transparent;
    display: inline-flex;
    height: 60px;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    /* H5 - Work Sans */
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 300ms linear;
}
.btn-secondarywhite{
    border-radius: 20px;
    background:white;
    display: inline-flex;
    height: 60px;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    text-decoration: none;
    cursor: pointer;
    color:black;
    text-align: center;
    /* H5 - Work Sans */
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    border: 2px solid transparent;
    transition: all 300ms linear;
}
.btn-secondarywhite:hover{
    border: 2px solid white;
    background-color: transparent;
}