header{
    padding: 15px 30px;
}
.hero{
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: column;
    gap: 20px;
}
.hero__link{
    display: none;
}
.hero .her__text .hero__stats{
    display: none;
}
.hero .her__text .hero__stats .hero__stats__item{
    display: none;
}
.hero__stats__item__number ,.hero__stats__item__name{
    display: none;
}
.herolinkbtnsecondary{
    width: 100%;
}
.hero__link__second{
    margin-top: 15px;
    width: 100%;
    display: block;
    border-radius: 20px;
    background: var(--Call-to-Action);
    display: inline-flex;
    height: 60px;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    /* H5 - Work Sans */
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    border: 2px solid transparent;
    transition: all 300ms linear;
}
.statssecond{
    display: block;
}
.hero .hero__stats__second{
    width: 100%;
    display: flex;
    column-gap:30px ;
    align-items: center;
    justify-content: space-between;
}
.hero .hero__stats__second .hero__stats__item__second{
    display: flex;
    flex-flow: column;
}
.hero .hero__stats__second .hero__stats__item__second .hero__stats__item__number__second{
    display: block;
    color:  #FFF;
    /* H4 - Space Mono */
    font-family: "Space Mono",sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
}
.hero .hero__stats__second .hero__stats__item__second .hero__stats__item__name__second{
    display: block;
    color: #FFF;
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
}
/*main*/
main{
    padding: 0 100px;
}
/*card*/

.card .card__photo{
    max-width:100%;
    height: auto;
}
.card .card__photo .card__photo__aks{
    width: 100%;
    flex: 0;
    justify-content: space-between;
}
.card .card__photo .card__photo__aks .card__photo__aks__two{
    width: 100%;
    height: 100%;
    flex: 0;
}
.card .card__photo .card__photo__aks .card__photo__aks__two:last-child{
    width: 100px;
    height: 100px;
}
.card .card__photo .card__photo__aks .card__photo__aks__two .card__photo__aks__two__purple{
    font-size: 22px;
}
.card .card__photo:nth-child(2){
    display: none;
}
/*top*/
.top .top__view{
    display: none;
}
/*artist*/
.artist{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 0 0 10px 0;
}
.artist .artist__group{
    width: 100%;
    display: grid;
    grid-template-columns: auto ;
    gap: 20px;
}
.artistcard{
    width: 100%;
    display: flex;
    flex-flow: row;
    border-radius: 20px;
    flex: 1;
    padding: 20px 40px;
    position: relative;
    gap: 30px;
}
.picdivartist{
    width: 80px;
    height: 80px;
    padding: 3px;
    display: flex;
    align-items: center;
}
.imgapicartist{
    width: 80px;
    height: 80px;
    aspect-ratio: 1/1;
    border-radius: 50px;
    object-fit: cover;
}
.artist__group__pic__text{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}
.bigtext{
    width: 100%;
    text-align: left;
    color: white;
    font-family: "Work Sans",sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 30.8px;
}
.total{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.total .sale{
    width: 100%;
    text-align: left;
    color: var(--caption--label-text);
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
}
.total .numi{
    width: 100%;
    text-align: left;
    color: white;
    font-family: "Space-Mono",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;

}
.artist__group__pic__num{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    position: absolute;
    text-align: center;
    left: 40px;
    top:17px;
    background-color:var(--Background);
}
.picnumb{
    width: 100%;
    text-align: center;
    color: var(--caption--label-text);
    font-family: "Space-Mono",sans-serif;
    font-size:16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    position: absolute;
    top: 3px;
}
.artist__group__pic{
    display: none;
}
.top__view__second{
    display: block;
    width: 100%;
    padding: 0 0 40px 0;
}
.top__view__rank{
    width: 100%;
    padding: 0 80px;
}
.Categories {
    width: 100%;
}
.Categories .Categories__one{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    align-items: center;
}
.everycat{
    min-width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
} 
.Categories .Categories__one .everycat .art{
    width: 100%;
}
.Categories .Categories__one .everycat .arttext{
    padding: 20px ;
}
.arttext__cap{
    font-size: 22px;
}
.thheight{
    height: 92px;
}
/*explore*/
.explore{
    width: 100%;
    padding: 0 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
.explore .explor__child{
    width: 100%;
    border-radius: 30px ;
}
.explore .explorenone{
    display: block;
}
.explore .explor__child .explor__child__cap{
   padding: 20px 30px 25px 30px;
}
.top__view__rank .top__view__all{
    position: relative;
    top: 6.25px;
    left: 6.25px;
}
/*qarch*/
.imaagess .imaagess__linear{
    padding: 140px 100px 40px 100px;
}
.imaagess .imaagess__linear .magicbigmashroom{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.qarchsee{
    display: none;
}
.qarchsee__second{
    display: block;
    width: 100%;

}
.btn-secondarywhite{
    width: 100%;
}
.imaagess .imaagess__linear .magicbigmashroom .mashsidestime{
    width: 100%;
}
/*learn*/
.learn{
    display: flex;
    flex-direction: column;
}
.learn .learn__child{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.learn .learn__child .learn__child__img{
    flex:  1 0 0;
}
.learn .learn__child .learn__child__text .learntitle{
    text-align: left;
}
.learn .learn__child .learn__child__text .learntext{
    text-align: left;
}
/*digest*/
.digest{
    width: 100%;
    height: 100%;
    padding: 0 ;
}
.digest .digest__main{
    padding: 40px 0 ;
}
.digest .digest__main .digest__main__img{
    width: 100%;
    height: 100%;
}
.digest .digest__main .digest__main__img img{
    width: 100%;
    height: 100%;
}
.digest .digest__main .digest__main__text{
    width: 100%;
}
.digest .digest__main{
    background-color:transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
/*footer*/
.footer{
    padding: 40px 100px ;
}
.footer__main__nft__two__text__email__purp__mail{
    display: block;
}
.footer .footer__main .footer__main__nft .footer__main__nft__two .footer__main__nft__two__text .footer__main__nft__two__text__email{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    gap: 16px;
    background-color: transparent;
    padding: 0;
}
.footer .footer__main .footer__main__nft .footer__main__nft__two .footer__main__nft__two__text .footer__main__nft__two__text__email .footer__main__nft__two__text__email__name{
    background-color: white;
    width: 100%;
    padding: 12.5px 20px;
    border-radius: 20px;
}
.akharii{    width: 100%;
    border-radius: 20px;
    background: var(--Call-to-Action);
    display: inline-flex;
    height: 46px;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    /* H5 - Work Sans */
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    border: 2px solid transparent;
    transition: all 300ms linear;
}
.akharii:hover{
    border: 2px solid var(--Call-to-Action);
    background-color: transparent;
}
.akharii{
    width: 100%;
}