/*main*/
main{
    padding: 0 90px;
}
.imaagess .imaagess__linear{
    padding: 360px 120px 60px 120px;
}
.digest .digest__main{
    gap: 70px;
}
.footer{
    padding: 40px 90px ;
}
.card {
gap: 20px;
}
.card .card__photo{
       max-width: 330px;
       height: 520px;
}

